@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom styles for the scrollbar */
::-webkit-scrollbar {
    width: 12px;

    /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    /* Background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7a8fb5;
    border-radius: 10px;
    width: 5px !important;


    /* Border radius of the scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #637698;

    /* Color of the scrollbar thumb on hover */
}