@tailwind base;
@tailwind components;
@tailwind utilities;


.clr {
    color: #003873;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

/* Custom styles for the scrollbar */
::-webkit-scrollbar {
    width: 8px;

    /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #bdbdbd;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #003873;
    border-radius: 10px;


    /* Border radius of the scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #637698;

    /* Color of the scrollbar thumb on hover */
}